
body{
  font-family: Bitcount Prop Double;
  
}

.google-sans-code-h1 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}


.bitcount-prop-double-h1{
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#profile-card{
  transition: 0.3s ease;
}

#profile-card:hover{
  content: "";
  border-radius:5px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.58) !important;
}

h1{
  font-size:6rem;
  color:#fffdd0;
}

h5{
  font-size: 2rem;
}

img{
  height: 50vh;
}

.img-slide {
  transition: opacity 0.9s ease-in-out;
  opacity: 1;
}
.img-slide.fade-out {
  opacity: 0;
}

.turtle{
  padding: 15rem;
  object-fit: cover;
}

.card {
  --bs-card-border-color: #fffdd0;
  --bs-card-border-width: 3px;
}

#navbar-example2{
  width: 342.4px;
  background-color:#1a7a4a;
  border-radius:5px;
  border:3px solid #fffdd0;
}

#navpills{
  background-color:#1a7a4a;
}

#content_box{
  background-color:#1a7a4a;
  width: 342.4px;
  border:3px solid #fffdd0;
  color: #fffdd0;
}

#navbar-example2 .nav-link{
  color:#fffdd0!important;
}

#navbar-example2 .nav-link.active {
  background-color: #fffdd0 !important;
  color: black !important;
  border-radius: 5px;
}

#sgpa{
  width:25vw;
  text-align:center;
  border: 4px solid #fffdd0;
  background-color: #22a060;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  transition: 0.4s ease;
}

#scrollspyHeading1{
  background-color: #fffdd0;
  color: black;
  width:50vw;
  text-align:center;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  transition: 0.4s ease;
}

.grade{
  font-size:2rem;
}

.year{
  font-size: 0.8rem;
}

.line{
  border: 1px solid #fffdd0;
  opacity:0.9;
}

#uni{
  width:65vw;
  background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.35);
  border: 2px solid #fffdd0;
  transition: 0.4s ease;
}

#timing{
  width:40vw;
    background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  border: 2px solid #fffdd0;
  transition: 0.4s ease;
}

#batch{
  width:40vw;
    background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.35);
  border: 2px solid #fffdd0;
  transition: 0.4s ease;
}

#ongoing{
  width:30vw;
  padding: 0.8vw 1.2vw;
    background-color: #fffdd0;
  color: black;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  border: 2px solid #fffdd0;
  text-align:left;
  transition: 0.4s ease;
}

#course{
  width:40vw;
    background-color: #fffdd0;
  color: black;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  border: 2px solid #fffdd0;
  text-align:center;
  transition: 0.4s ease;
}

.key-wrap{
  display:flex;
  flex-wrap:wrap;
  gap:2vw;
  margin-top:2vh;
  margin-bottom:2vh;
}

.key{
  border: 2px solid #fffdd0;
  width:auto;
  text-align:center;
  background-color: #0f4f2e;
  transition: 0.4s ease;
  
}

.key:hover{
  content:"";
  background-color:#fffdd0;
  color: #000;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.81);
}

#note{
  background-color:#0f4f2e;
  text-align:left;
  border-left: 2px solid #fffdd0;
}

#batch:hover{
  content:"";
  background-color:#0f4f2e;
  color: #fffdd0;
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#uni:hover{
  content:"";
  background-color:#0f4f2e;
  color: #fffdd0;
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#ongoing:hover {
  content: "";
  background-color:#fffdd0;
  color: #000;
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#course:hover {
  content: "";
  background-color: #fffdd0;
  color: #000;
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#scrollspyHeading1:hover {
  content: "";
  background-color: #fffdd0;
  color: #000;
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#timing:hover {
  content: "";
  box-shadow: -4px -4px 0 rgba(0, 0, 0, 0);
}

#tech-wrap{
  display:flex;
  flex-wrap:wrap;
  gap:2vw;
  margin-top:2vh;
  margin-bottom:2vh;
}

#lift{
  transition: 0.4s ease;
}

#lift:hover{
  content: "";
  border-radius:5px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.58) !important;
}

#ach-badge{
  background-color: #fffdd0;
  color: black;
  width:45vw;
  text-wrap: wrap;
  text-align:center;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.35);
  transition: 0.4s ease;
}

#ach-content{
  background-color:#0f4f2e;
  text-align:left;
  border-left: 2px solid #fffdd0;
  padding: 0.7rem 0.5rem;
}

#ach-heading{
  background-color:#0f4f2e;
  text-align:left;
  border-left: 2px solid #fffdd0;
  padding: 0.7rem 0.5rem;
}

#pro-badge{
  background-color: #0f4f2e;
  color: #fffdd0;
  border: 2px solid #fffdd0;
  width:52vw;
  text-wrap: wrap;
  text-align:center;
  transition: 0.4s ease;
}

#pro-heading{
  text-align:left;
  font-size: 2rem;
}

.pro-button{
display:flex;
flex-wrap:wrap;
gap:2vw;
margin-top:2vh;
margin-bottom:2vh;
}

.pro-b{
  padding: 4px 12px;
  border: 2px solid #fffdd0;
  background-color: #0f4f2e;
  transition: 0.4s ease;
}

.pro-b:hover{
  content: "";
  color: #000;
  background-color: #fffdd0;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.58) !important;
}

#pro-content{
  background-color:#0f4f2e;
  text-align:left;
  border-left: 2px solid #fffdd0;
  padding: 0.7rem 0.5rem;
}

#pro-content ul{
padding-left:0.7rem;
}

.cert-section{
  border: 2px solid #fffdd0;
  width:90%;
  border-radius: 5px;
}

.cert-image{
  padding-left: 6rem;
  height:15rem;
  padding-bottom:2rem;
  padding-top:2rem;
  
}