
body{
  font-family: Bitcount Prop Double;
}

.google-sans-code-h1 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.bitcount-prop-double-h1 {
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

h1{
  font-size:6rem;
}

h5{
  font-size: 2rem;
}

img{
  height: 50vh;
}