
body{
  font-family: Bitcount Prop Double;
  
}

.google-sans-code-h1 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}


.bitcount-prop-double-h1{
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
h1{
  font-size:6rem;
  color:#fffdd0;
}

h5{
  font-size: 2rem;
}

img{
  height: 50vh;
}

.img-slide {
  transition: opacity 0.9s ease-in-out;
  opacity: 1;
}
.img-slide.fade-out {
  opacity: 0;
}

.turtle{
  padding: 15rem;
  object-fit: cover;
}

.card {
  --bs-card-border-color: #fffdd0;
  --bs-card-border-width: 3px
}

#navbar-example2{
  width: 342.4px;
  background-color:#1a7a4a;
  border-radius:5px;
  border:3px solid #fffdd0;
}

#navpills{
  background-color:#1a7a4a;
}

#content_box{
  background-color:#1a7a4a;
  width: 342.4px;
  border:3px solid #fffdd0;
  color: #fffdd0;
}

#navbar-example2 .nav-link{
  color:#fffdd0!important;
}

#navbar-example2 .nav-link.active {
  background-color: #fffdd0 !important;
  color: black !important;
  border-radius: 5px;
}

#sgpa{
  width:25vw;
  text-align: center;
  border: 4px solid #fffdd0;
  background-color: #22a060;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
}

#scrollspyHeading1{
  background-color: #fffdd0;
  color: black;
  width:50vw;
  text-align: center;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
}

.grade{
  font-size:2rem;
}

.year{
  font-size: 0.8rem;
}

.line{
  border: 1px solid #fffdd0;
  opacity:0.9;
}

#uni{
  width:65vw;
  background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  border: 2px solid #fffdd0;
}

#timing{
  width:40vw;
    background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  border: 2px solid #fffdd0;
}

#batch{
  width:40vw;
    background-color: #0f4f2e;
  color: #fffdd0;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  border: 2px solid #fffdd0;
}

#ongoing{
  width:25vw;
    background-color: #fffdd0;
  color: black;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  border: 2px solid #fffdd0;
  text-align:center;
}

#course{
  width:40vw;
    background-color: #fffdd0;
  color: black;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
  border: 2px solid #fffdd0;
  text-align:center;
}

.key-wrap{
  display:flex;
  flex-wrap:wrap;
  gap:2vw;
  margin-top:2vh;
  margin-bottom:2vh;
}

.key{
  border: 2px solid #fffdd0;
  width:auto;
  text-align:center;
  background-color: #0f4f2e;
  transition: 0.4s ease;
  
}

.key:hover{
  content:"";
  background-color:#fffdd0;
  color: #000;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.3);
}

#note{
  background-color:#0f4f2e;
  text-align:left;
  border-left: 2px solid #fffdd0;
}